{%-if include.shuffle-%}
  {%-assign garden_size = site.garden | size-%}
  {%-if garden_size > 1-%}
    {%-assign sorted_garden = site.garden | sample: garden_size-%}
  {%-else-%}
    {%-assign sorted_garden = site.garden-%}
  {%-endif-%}
{%-elsif include.sort_key-%}
  {%-assign sorted_garden = site.garden | sort: include.sort_key-%}
  {%-if include.reverse-%}
    {%-assign sorted_garden = sorted_garden | reverse-%}
  {%-endif-%}
{%-else-%}
  {%-comment-%}Default: shuffle{%-endcomment-%}
  {%-assign garden_size = site.garden | size-%}
  {%-if garden_size > 1-%}
    {%-assign sorted_garden = site.garden | sample: garden_size-%}
  {%-else-%}
    {%-assign sorted_garden = site.garden-%}
  {%-endif-%}
{%-endif-%}

{%-if include.limit-%}
  {%-assign limited_garden = sorted_garden | limit: include.limit-%}
{%-else-%}
  {%-assign limited_garden = sorted_garden-%}
{%-endif-%}

{%- if limited_garden.size > 0 -%}
  <ul>
    {%- for post in limited_garden -%}
        <li>
          {% if site.theme_config.lowercase_titles == true %}
          <a href="{{ post.url | relative_url }}">{{ post.title | downcase }}</a>
          {% else %}
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          {% endif %}
        </li>
    {%- endfor -%}
  </ul>
{%- endif -%}
