---
layout: default
---
{%-include back_link.html-%}

{% assign author_id = page.title %}
{% assign author_data = site.data.authors[author_id] %}

{% if author_data %}
<h1>author: {% if site.theme_config.lowercase_titles %}{{ author_data.name | downcase | escape }}{% else %}{{ author_data.name | escape }}{% endif %}</h1>
<p>{{ author_data.bio | escape }}</p>
{% if author_data.github %}
<p><a href="https://github.com/{{ author_data.github | escape }}">github.com/{{ author_data.github | escape }}</a></p>
{% endif %}
{% else %}
<h1>{% if site.theme_config.lowercase_titles %}{{ author_id | downcase | escape }}{% else %}{{ author_id | escape }}{% endif %}</h1>
{% endif %}

<h2>posts</h2>

{% assign author_posts = site.posts | where: "author", author_id %}
<ul>
  {% for post in author_posts %}
  <li>
    {{ post.date | date: "%Y-%m-%d" }} <a href="{{ post.url | relative_url }}">{% if site.theme_config.lowercase_titles %}{{ post.title | downcase | escape }}{% else %}{{ post.title | escape }}{% endif %}</a>
  </li>
  {% endfor %}
</ul>

{%-include back_link.html-%}
