---
layout: default
---
{% include back_link.html %}

<h1>category: {% if site.theme_config.lowercase_titles %}{{ page.title | downcase | escape }}{% else %}{{ page.title | escape }}{% endif %}</h1>

<ul>
  {% for post in page.posts %}
  <li>
    {{ post.date | date: "%Y-%m-%d" }} — <a href="{{ post.url | relative_url }}">{% if site.theme_config.lowercase_titles %}{{ post.title | downcase | escape }}{% else %}{{ post.title | escape }}{% endif %}</a>
  </li>
  {% endfor %}
</ul>

{% include back_link.html %}
