---
layout: default
---

{% include back_link.html %}

<header>
	<h1>{{ page.title }}</h1>
	{% if page.subtitle %}<strong>{{ page.subtitle }}</strong>{% endif %}
	<div style="text-align: right;">
		<span class="page-meta">Planted: {{ page.date | date: site.theme_config.date_format | default: "%Y-%m-%d" }}
		{% if page.last_modified %}
			<br>Last tended: {{ page.last_modified | date: site.theme_config.date_format | default: "%Y-%m-%d" }}</span>
		{% endif %}
	</div>
</header>

{% if page.link %}
	{% linkcard page.link page.link_title archive:page.link_archive %}
{% endif %}

<article>
	{{ content }}
</article>

<footer>
	
	{% if page.tags.size > 0 %}
	<p>
		tagged: 
		{% for tag in page.tags %}
			<a href="{{ site.baseurl }}/garden/tags/{{ tag | slugify }}/">{% if site.theme_config.lowercase_titles %}{{ tag | downcase | escape }}{% else %}{{ tag | escape }}{% endif %}</a>{% unless forloop.last %}, {% endunless %}
		{% endfor %}
	</p>
	{% endif %}
</footer>

{% include back_link.html %}
